@{
    ViewBag.Title = "Friends";
    int i = 1;
}

<h2>Friends</h2>
<div>
@using(Html.BeginForm("PostToWall", "Facebook"))
{
    
<div class="edit">
<div class="edit-label"><label for="Name">Name </label></div><div class="edit-text"><input type="text" name="Name" /></div>
<div class="edit-label"><label for="Caption">Caption</label></div><div class="edit-text"><input type="text" name="Caption" /> </div>
<div class="edit-label"><label for="Picture">Picture URL</label></div><div class="edit-text"><input type="text" name="Picture" /></div>
<div class="edit-label"><label for="Link">Link for redirect</label></div><div class="edit-text"><input type="text" name="Link" /></div>
<div class="edit-label"><label for="Message">Message</label></div><div class="edit-text"><textarea name="Message" rows="4"></textarea> </div>
</div>
                 
<input type="submit" value="Submit" />
    <input type="button" value="Check All" id="Friends_btnCheckAllFriends" />
    <input type="button" value="Uncheck All" id="Friends_btnUnCheckAllFriends" />

<br />
    foreach (var friend in ViewBag.Friends)
    {
       <div class="row">
        <img src='@string.Format("https://graph.facebook.com/{0}/picture", friend["id"])' />
        <input type="checkbox" name="chkFriends" value='@friend["id"]' /> <span>@friend["name"]</span>
      </div>
        if (i % 5 == 0)
        { 
            <br />
        }
        i++;
    }
}
</div>
