@{
    ViewBag.Title = "Home Page";
}

<p2>@ViewBag.Message</p2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
    <br />
    To learn more about Facebook SDK for C# visit <a href="http://facebooksdk.codeplex.com/">http://facebooksdk.codeplex.com/</a>.
</p>
